.portfolio h2 {
  text-align: center;
}
.portfolio p {
  text-align: justify;
}
.portfolioBtn {
  text-decoration: none !important;
  margin-top: 1em;
  background-color: white;
  color: black;
  border: 2px solid black;
  padding: 0.5em;
  transition: 0.5s all;
  border-radius: 0.5em;
}
.portfolioBtn:hover {
  background-color: black;
  color: white;
  transition: 0.5s all;
}
.portfolio--center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
