.portfolio h2 {
  text-align: center;
}
.portfolio p {
  text-align: justify;
}
.portfolioBtn {
  text-decoration: none !important;
  margin-top: 1em;
  background-color: white;
  color: #333;
  border: 2px solid #333;
  padding: 0.5em;
  transition: 0.25s all;
  border-radius: 0.5em;
}
.portfolioBtn:hover {
  box-shadow: 0.2em 0.2em 0.25em rgb(125, 125, 125);
  background-color: #333;
  color: white;
  transition: 0.25s all;
}
.portfolio--center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
