.fade-in.third {
    -webkit-animation-delay: 1.5s;
    -moz-animation-delay: 1.5s;
    animation-delay: 1.5s;
}
.navBar {
  border-top: 1px solid;
  border-bottom: 1px solid;
}

.navBar a {
  font-family: monospace;
  font-weight: bold;
  color: black !important;
  transition: .5s all;
}
