.profilePic {
  max-height: 10em;
  max-width: 10em;
  transition: 0.25s all;
  padding-left: 0 !important;
}
@media only screen and (min-device-width: 100px) and (max-device-width: 480px) {
  .profilePic {
    text-align: center;
    max-height: 20em;
    max-width: 20em;
  }
}
@media only screen and (max-device-width: 480px) {
  .profilePic {
    width: 100%;
    margin-bottom: 1em;
  }
}
@media only screen and (min-device-width: 600px) and (max-device-width: 767px) {
}
