.contactPage h3 {
  margin-top: 0 !important;
  margin-bottom: 0.5em;
  font-weight: bold;
}

.logos {
  justify-content: center;
  display: flex;
  flex-direction: row;
}
.logoBtn:hover {
  transform: rotate(360deg);
  transition: transform 0.5s;
}
.logoBtn--twitter {
  margin-top: -10px;
  width: 64px;
  height: 64px;
  background-image: url("https://raw.githubusercontent.com/justinkahrs/portfolio/master/src/components/contact/img/twitter.png") !important;
  background-size: 100%;
}
.logoBtn--github {
  width: 48px;
  height: 48px;
  background-image: url("https://raw.githubusercontent.com/justinkahrs/portfolio/master/src/components/contact/img/github.png") !important;
  background-size: 90%;
  background-repeat: no-repeat;
}
.logoBtn--soundcloud {
  width: 48px;
  height: 48px;
  background-image: url("https://raw.githubusercontent.com/justinkahrs/portfolio/master/src/components/contact/img/soundcloud-logo.png") !important;
  background-size: 90%;
  background-repeat: no-repeat;
}