.navAndBody {
  margin-top: 2em;
  margin-right: 20%;
  margin-left: 20%;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 767px) {
  .navAndBody {
    margin-right: 0;
    margin-left: 0;
  }
}
@media only screen and (min-device-width: 767px) and (max-device-width: 1200px) {
  .navAndBody {
    margin-right: 10%;
    margin-left: 10%;
  }
}
.aboutPage {
  margin-top: 2em;
  margin-bottom: 2em;
}
.contactPage {
  margin-top: 2em;
  margin-bottom: 2em;
  text-align: center;
}
.workPage {
  margin-top: 2em;
  margin-bottom: 2em;
  text-align: center;
}
.portfolioPage {
  margin-top: 2em;
  margin-bottom: 2em;
}
