.navAndBody {
  margin-top: 2em;
  margin-right: 20%;
  margin-left: 20%;
}

@media only screen and (max-device-width: 980px) {
  .navAndBody {
    margin-right: 0;
    margin-left: 0;
  }
  .view {
    padding-top: 2em !important;
  }
}

@media only screen and (min-device-width: 980px) and (max-device-width: 2000px) {
  .view {
    padding-top: 1em;
  }
}
.view {
  padding-top: 5em;
  margin-bottom: 5em;
}
